<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agatha Christie Fan Page</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/MasterLayout.less">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Logo</li>
                <li>Quiz</li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
