@main-dark-colour: #403531;
@main-light-colour: #f6edea;
@secondary-colour: #A68D8A;
@warning-colour: #FF3333;

.auth-page
{
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
  color: @main-dark-colour;
  font-weight: bold;
  width: 100%;
}

.info-message
{
  display: block;
  margin: 20px;
  font-weight: bold;
  color: @warning-colour;
  text-align: center;
}

.auth-form
{
  background-color: @main-light-colour;
  display: table-cell;
  padding: 20px;
  width: auto;

  form
  {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;

    input
    {
      display: block;
      margin: 7px 0px;
      border: none;
      height: 30px;
      width: 100%;
      text-align: center;
    }

    .remember-me
    {
      float: left;
      line-height: 44px;
    }

    .remember-me-box
    {
      width: 18px;
      float: left;
      margin-right: 10px;
    }

    .forgot-password
    {
      text-align: right;
      margin-top: 18px;

      a
      {
        color: @main-dark-colour;

        &:hover
        {
          color: @secondary-colour;
        }

      }
    }

    .text-danger
    {
      color: @warning-colour;
      display: block;
      font-size: 0.8em;

      ul
      {
        padding-left: 15px;
      }
    }
  }


}

.social-login-form
{
  background-color: @main-light-colour;
  display: table-cell;
  padding: 20px;
  width: 50%;

  ul 
  {
    padding: 0;
    margin: 35px 0;
  }

  li
  {
    display: table;
    width: 100%;
    border-spacing: 7px;

    .media-logo
    {
      height: 35px;
      width: 35px;
      display: table-cell;
      margin-right: 10px;
    }

    .btn
    {
      display: table-cell;
    }
  }

  .Google
  {
    background-image: url("../Styles/images/google-logo.png")
  }

  .Facebook
  {
    background-image: url("../Styles/images/fb-logo.png")
  }

  #Google
  {
    background: white;
  }

  #Facebook
  {
    color: white;
    background: #3B579D;
  }
}

@media(max-width: 699px)
{
  .auth-page
  {
    display: block;
    width: 100%;
  }
   .auth-form, .social-login-form
  {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;

    form
    {
      display: inline;
    }
  }
}